.DynarchCalendar{-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);}
.DynarchCalendar-title,.DynarchCalendar-title div{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.DynarchCalendar-topBar{-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px;border-radius:4px 4px 0 0}
.DynarchCalendar-bottomBar{-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}
.DynarchCalendar-bottomBar-today{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.DynarchCalendar-navBtn,.DynarchCalendar-navBtn div{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.DynarchCalendar-menu{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.DynarchCalendar-menu table td div{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.DynarchCalendar-weekNumber{-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.DynarchCalendar-day{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.DynarchCalendar-day-disabled{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}
.DynarchCalendar-tooltipCont{-moz-border-radius:0 0 5px 5px;-webkit-border-radius:5px}
.DynarchCalendar-time-hour,.DynarchCalendar-time-minute{-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px}
.DynarchCalendar-time-am{-moz-border-radius:3px;-webkit-border-radius:3px}
