{template "install_header.html", "admin"}
<div class="section">
	<div class="main cc">
		<pre class="pact" readonly="readonly" style="font-size: 14px;">

    <p style="margin-top: -30px;">FineCMS以“小巧、精干、轻量”为设计理念，不用太多复杂的功能，有一套强大和稳定内容管理机制足以，以简洁的基础Cms程序+多样化插件为开发目的。&nbsp;<br/></p>
			<p>FineCMS是不要钱的程序，没有那么多条条款款限制，喜欢用就拿去用，无论你改名字发布还是去申请版权都是可以的。&nbsp;<br/>有人会问，国内大大小小Cms程序已经很多了，但是为什么还要继续这么一个Cms？其实也是有很多原因的！最主要的原因是不放弃最初的信念，开始主要为了提高自己的PHP开发水平以及对手头正在做的网站项目所使用的开发方式和开发规范并不是很满意，所以就开始写了这个Cms。&nbsp;<br/>2009年开始开发，一开始用于自己就职公司的小网站项目，然后发布到网上供免费下载使用，并收集了很多热心网友的建议。&nbsp;<br/>2013年由于个人工作原因抽不开时间来维护，暂时交给罗氏工作室来帮忙维护。&nbsp;<br/>2016年总算有多余的时间来写FineCms5，其结构不同于罗氏工作室v2版本，这是在我这几年开发经验上重新设计的程序，相对v2版本更加稳定，语法更规范，更容易学习和开发。&nbsp;<br/>FineCMS就像自己的孩子一样，总是不容许它存在瑕疵，但是每个事情总会存在瑕疵的地方，所以还请在使用它的时候多多包涵。&nbsp;<br/>目前我同时就职在两家公司，白天都很忙，平时有些网友给我QQ反馈bug都是即使回复，现在只有晚上会看看论坛的bug反馈和Cms开发维护，为了最初的信念，我都会一直持续维护它！<br/>
				<br/><br/>作者：李睿&nbsp;<br/>就职：华联科技架构师<br/>邮箱：83961832@qq.com
</p>
		</pre>
	</div>
	<div class="bottom tac">
		<a href="{dr_url('install/index', array('step' => $step+1))}" class="btn">安 装</a>
	</div>
</div>

{template "install_footer.html", "admin"}