<script type="text/javascript">
$(function() { //防止回车提交表单
	document.onkeydown = function(e){ 
		var ev = document.all ? window.event : e;
		if (ev.keyCode==13) {
			$("#mark").val("1"); // 标识不能提交表单
		}
	}
	$(".table_form th").last().css('border','none');
	$(".table_form td").last().css('border','none');
});
function dr_form_check() {
	if ($("#mark").val() == 0) { 
		return true;
	} else {
		return false;
	}
}
</script>

<div class="table-list" style="width:460px;">
<form action="" method="post" id="myform" name="myform" onsubmit="return dr_form_check()">
<input name="mark" id="mark" type="hidden" value="0" />
<table width="100%" class="table_form">
<tr>
    <th width="100"><font color="red">*</font>&nbsp;{fc_lang('名称')}： </th>
    <td>
    <input class="input-text" type="text" name="data[name]" id="dr_name" value="{$data['name']}" size="20" />
    <div class="onShow" id="dr_name_tips">{fc_lang('给它一个描述名称')}</div>
    </td>
</tr>
<tr>
    <th><font color="red">*</font>&nbsp;{fc_lang('标识代码')}： </th>
    <td>
    <input class="input-text" type="text" name="data[code]" id="dr_code" value="{$data['code']}" size="20" />
    <div class="onShow" id="dr_code_tips">{fc_lang('菜单唯一标示不得重复')}</div>
    </td>
</tr>
<tr>
    <th>&nbsp;{fc_lang('类型')}： </th>
    <td>
    <input name="data[type]" type="radio" value="0" class="_type" {if !$data['type']} checked{/if}>&nbsp;{fc_lang('全局共享')}&nbsp;&nbsp;&nbsp;
    <input name="data[type]" type="radio" value="1" class="_type" {if $data['type']} checked{/if}>&nbsp;{fc_lang('站点独立')}
    </td>
</tr>
</table>
</form>
</div>