<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>admin</title>
<link href="{THEME_PATH}admin/css/index.css" rel="stylesheet" type="text/css" />
<link href="{THEME_PATH}admin/css/table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">var siteurl = "{SITE_PATH}{SELF}";var memberpath = "{MEMBER_PATH}";</script>
<script type="text/javascript" src="{THEME_PATH}js/{SITE_LANGUAGE}.js"></script>
<script type="text/javascript" src="{THEME_PATH}js/jquery.min.js"></script>
<script type="text/javascript" src="{THEME_PATH}js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{THEME_PATH}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{THEME_PATH}js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="{THEME_PATH}js/validate.js"></script>
<script type="text/javascript" src="{THEME_PATH}js/admin.js"></script>
<script type="text/javascript" src="{THEME_PATH}js/dayrui.js"></script>
<script type="text/javascript">
$(function() {
	$(".table-list tr").last().addClass("dr_border_none");
	$(".subnav .content-menu span").last().remove();
}); 
</script>
</head>
<body>
<div class="table-list" style="padding:20px 0;">
<table width="440" border="0" cellspacing="0" cellpadding="0" class="table_form">
<tr>
    <th align="right" width="120">{fc_lang('会员名称')}：</th>
    <td align="left">{$data.username}</td>
</tr>
{if $data.email}
<tr>
    <th align="right" width="120">{fc_lang('会员邮箱')}：</th>
    <td align="left">{$data.email}</td>
</tr>
{/if}

{if $data.name}
<tr>
    <th align="right">{fc_lang('联系方式')}：</th>
    <td align="left">{htmlspecialchars($data.name)}{if $data.phone}&nbsp;（{$data.phone}）{/if}</td>
</tr>
{/if}
{if $data.regtime}
<tr>
    <th align="right">{fc_lang('注册时间')}：</th>
    <td align="left">{dr_date($data.regtime)} {if $data.address}（<a href="http://www.baidu.com/baidu?wd={$data.regip}&tn=monline_dg" target="_blank">{$data.address}</a>）{/if}</td>
</tr>
{/if}

</table>
</div>
</body>
</html>