<div class="table-list" style="width:500px;">
	<input name="mark" id="mark" type="hidden" value="0">
	<table width="100%" class="table_form">
		<tr>
			<th width="80"><font color="red">*</font>&nbsp;{fc_lang('标题')}： </th>
			<td>
				<input style="width: 80%" class="input-text" type="text" name="data[name]" id="dr_title" value="{$title}" />
			</td>
		</tr>
		<tr class="dr_order_none">
			<th style="border: none"><font color="red">*</font>&nbsp;{fc_lang('地址')}： </th>
			<td style="border: none">
				<input style="width: 80%" class="input-text" type="text" name="data[domain]" id="dr_url" value="{$file}" />
			</td>
		</tr>
	</table>
</div>
