{% extends "layout.html" %}

{% block body %}
        <div class="row">
            <form action="/user/login/" class="col-lg-6 col-lg-offset-3" method="post">
                <div class="form-group">
                    <label>用户名：</label>
                    <input type="text" class="form-control" name="username" placeholder="" required>
                </div>
                <div class="form-group">
                    <label>密码：</label>
                    <input type="password" class="form-control" name="passwd" placeholder="" required>
                </div>
                <p></p>
                <a class="btn btn-warning" href="/user/reset">找回密码</a>
                <button class="btn btn-primary pull-right" lay-filter="login" type="submit">登录</button>
            </form>
            </div>
        <br/>
{% endblock %}