<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login Page | pro-system</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/amazeui.min.css')}}">
  <script src="{{url_for('static', filename='assets/js/amazeui.min.js')}}"></script>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>Flag 领取系统</h1>
    <p>Flag Get the system<br/>在这里，你可以领取，各种优质Flag</p>
  </div>
  <hr />
  <h3>登录</h3>
    <hr>
    <br>
    <br>
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <form method="post" class="am-form">
      <label for="email">你的名字:</label>
      <input type="text" name="username" id="email" value="" placeholder="你的名字：">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="password" id="password" value="" placeholder="请输入密码：">
      <br>
      <div class="am-cf">
        <input type="submit" name="" value="登录" class="am-btn am-btn-secondary am-btn-sm am-fr">
        <a class="am-btn am-btn-success am-fl" href="{{url_for('register')}}" target="_blank">注册</a>
      </div>
    </form>
    <hr>
    <p>© 2019 RRRRRR</p>
  </div>
</div>
</body>
</html>
