<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Register Page | pro-system</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/amazeui.min.css')}}">
    <script src="{{url_for('static', filename='assets/js/amazeui.min.js')}}"></script>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="am-g">
            <h1>Flag 领取系统</h1>
            <p>Flag Get the system<br />在这里，你可以领取，各种优质Flag</p>
        </div>
        <hr />
        <h3>注册</h3>
        <hr>
        <br>
        <br>
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <div class="am-g">
                <div class="am-u-md-8 am-u-sm-centered">
                    <form class="am-form" method="POST">
                        <fieldset class="am-form-set">
                            <input type="text" name="username" placeholder="取个名字">
                            <input type="password" name="password" placeholder="设个密码">
                            <input type="email" name="email" placeholder="填下邮箱">
                        </fieldset>
                        <button type="submit" class="am-btn am-btn-primary am-btn-block">注册个账号</button>
                    </form>
                </div>
            </div>
            <hr>
            <p>© 2019 RRRRRR</p>
        </div>
    </div>
</body>

</html>