body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label,fieldset{
	/* A simple page reset */
	margin:0px;
	padding:0px;
}

body{
	/* Styling the body */
	color:white;
	font-size:13px;
	background: #222222;
	font-family:Arial, Helvetica, sans-serif;
}

#gallery{
	/* The pics container */
	width:100%;
	height:580px;
	position:relative;
}

.pic, .pic a{
	min-width:100px;
	min-height:100px;
	max-width:400px;
	max-height:400px;
	/* Each picture and the hyperlink inside it */
	overflow:hidden;
}

.pic{
	/* Styles specific to the pic class */
	position:absolute;
	border:5px solid #EEEEEE;
	border-bottom:18px solid #eeeeee;
	
	/* CSS3 Box Shadow */
	-moz-box-shadow:2px 2px 3px #333333;
	-webkit-box-shadow:2px 2px 3px #333333;
	box-shadow:2px 2px 3px #333333;
}

.pic a{
	/* Specific styles for the hyperlinks */
	text-indent:-999px;
	display:block;
	/* Setting display to block enables advanced styling for links */
}

.drop-box{
	/* The share box */
	width:240px;
	height:130px;
	position:absolute;
	bottom:0;
	right:0;
	z-index:-1;
	
	background:url(img/drop_box.png) no-repeat;
}

.drop-box.active{
	/* The active style is in effect when there is a pic hovering above the box */
	background-position:bottom left;
}

label, input{
	/* The modal dialog URL field */
	display:block;
	padding:3px;
}

label{
	font-size:10px;
}

fieldset{
	border:0;
	margin-top:10px;
}

#url{
	/* The URL field */
	width:240px;
}


/* General styles for the demo page */

h1{
	/* The title of the page */
	color:white;
	font-family:"MyRiad Pro",Arial,Helvetica,sans-serif;
	font-size:38px;
	font-weight:normal;
}

h2{
	/* The subtitle */
	font-family:"MyRiad Pro","Arial Narrow",Arial,Helvetica,sans-serif;
	font-size:16px;
	font-weight:normal;
	letter-spacing:1px;
	padding-left:2px;
	text-transform:uppercase;
	white-space:nowrap;
	margin:10px 0 25px;
}

#orig{
	/* The link that is positioned above the title */
	font-family:"MyRiad Pro",Arial;
	font-size:10px;
	letter-spacing:1px;
	padding-bottom:15px;
	text-transform:uppercase;
	float:right;
}

hr{
	/* The horizontal ruler */
	background-color:#BBBBBB;
	border:medium none;
	color:#BBBBBB;
	height:1px;
	margin:30px auto;
	width:450px;
}

.clear{
	/* The clearfix hack */
	clear:both;
}

#main{
	/* The main container */
	width:780px;
	margin:30px auto;
}

a img{
	border:none;
}

a, a:visited {
	color:#00BBFF;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

.tutorial-info{
	text-align:center;
	padding:10px;
	margin-top:70px;
}
